

{% extends 'home/base.html' %}
{% load static %}

{% block maincontent %}

<div class="row contact">
  <div class="col s12 m4 offset-s2 offset-m2 card-panel hoverable">
    {% load material_form %}
    <form method="POST" id="contact-form">
        {% csrf_token %}
        {% form form=form %}{% endform %}
        <button type="submit" name="_submit" class="btn">Submit<i class="material-icons right">send</i></button>
    </form>
  </div>
  <div class="col s12 m4 offset-s1">
    <div class="row card-panel hoverable">
      <span id="branch">Head Office</span><br>
      <span id="company-name">InvestoSure (PVT) Limited</span><br>
      <span id="office-address">C-32 Kaushambi<br>Ghaziabad<br>Uttar Pradesh<br>201010<br>India</span>
    </div>

    <div class="row card-panel hoverable">
      We at InvestoSure aim to fulfil every need of our clients, whether it pertains to financial consultancy or recruitment process outsourcing. We pride ourselves in ensuring complete customer satisfaction on all levels. In addition, we are also expanding into Futures Trading.
    </div>
</div>
{% endblock %}
