
{% extends 'home/base.html' %}
{% load static %}
{% block maincontent %}
<main>
  <div class="mainhead">
    <div class="row">
        <div class="container">

          <div class="col-sm-5 card-panel hoverable grey lighten-4">

               We at InvestoSure aim to fulfil every need of our clients, whether it pertains to financial consultancy or recruitment process outsourcing. We pride ourselves in ensuring complete customer satisfaction on all levels. In addition, we are also expanding into Futures Trading.
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-6   card-panel hoverable grey lighten-4">
              <img class="responsive-img" src="{% static 'img/poster.png' %}">
          </div>
        </div>
    </div>
  </div>



<div class="container">
    <div id="writing" class="section intro ">
<h4 class="header center grey-text text-darken-4">
      It’s time to get things done
      </h4>
      <p class="header ppad center grey-text text-darken-4">

Beautifully crafted, the workspace is where the action happens. Get to work with tasks, subtasks, comments, assigning tasks to your team, sharing files and more. Powerful project management done right.
      </p>
      <!--   Icon Section   -->
      <div class="row">

<!--           hier -->
          <ul class="notifications"></ul>
<div>
  <div id="waypoint" class="row">
  <div class="col m4">
<div class="home_cona">
<div class="icon_box img1">
  <img class="prof-style" alt="" src="https://cdn1.iconfinder.com/data/icons/business-and-finance-20/200/vector_65_02-128.png">
  </div>
  <div class="text1">
<h1>Finance</h1>
<div class="tline"></div></br>
<p>Provide every customer with a financial plan that serves them best</p>

  </div>
  </div>
</div>
    <div class="col m4">
<div class="home_cona">
<div class="icon_box img2">
  <img class="prof-style" alt="" src="https://cdn1.iconfinder.com/data/icons/business-and-finance-20/200/vector_65_14-128.png">
</div>
    <div class="text2">
<h1>Trading</h1>
<div class="tline"></div></br>
<p>Team of Traders of futures market </p>

  </div>
      </div>
</div>
    <div class="col m4">
<div class="home_cona">
<div class="icon_box img3">
  <img class="prof-style" alt="" src="https://cdn1.iconfinder.com/data/icons/business-and-finance-20/200/vector_65_16-128.png">
  </div>
    <div class="text3">
<h1>Recruitment outsourcing process</h1>
<div class="tline"></div>
<p>Provide quality human resource services to the partner companies</p>

  </div>
</div>
    </div>

  </div>
      

  </div>
<!--           hier -->



      </div>

    </div>
  </div>
</main>
{% endblock %}
