

{% extends 'home/base.html' %}
{% load static %}
{% block maincontent %}
<main>
  <div class="details">
    <div class="row">
      <div class="container">
        <div class="col s12 m7 card-panel hoverable">
          <div class="panel">
            <div class="panel-title">
              <h4>Internship Programme</h4>
            </div>
            <div class="panel-body">
              InvestoSure has a comprehensive internship program for students pursuing under-graduate as well as post-graduate courses. We offer summer as well as winter internships to the students, based on the college policy of their respective institutes. The internship programs comprise of an initial training period after which the interns are given corporate exposure.
              During the training period, interns are taught about various aspects of the financial sector by professionals who have substantial experience in their respective fields. Emphasis is provided on helping interns gain insights into the working of the financial sector that will be beneficial to them not just during the course of their internships, but throughout their lives. After the training, the interns are given unparalleled exposure as they work side by side with experts of the field.
            </div>
            <div class="panel-heading">
              <h5>Who Can Apply</h6>
            </div>
            <div class="panel-body">
              Any student in the second or penultimate year of study can apply for this internship. While your discipline or major are not important, we are looking for intellectually curious interns passionate to make their career in the BFSI sector, specifically in the area of HR & Marketing.
            </div>
          </div>
        </div>

        <div class="col s12 m4 offset-m1">
          <div class="row card-panel hoverable" >
            <span class="intern-apply">Interested in Finance?</span><P></P>
            <div class="apply">
              <a class="waves-effect waves-light btn">Apply</a>
            </div>
          </div>
          <div class="row card-panel hoverable">
            <span class="intern-apply">Interested in RPO?</span><P></P>
            <div class="apply">
              <a class="waves-effect waves-light btn">Apply</a>
            </div>
          </div>

          <div class="row card-panel hoverable">
            <span class="intern-apply">Interested in Trading?</span><P></P>
          <div class="apply">
            <a class="waves-effect waves-light btn">Apply</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
