.mainhead{
    margin-top: 8%;
}
.details{
  margin-top: 0.4%;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  footer.page-footer {
     margin-top: 20px;
     padding-top: 0px;
     background-color: #ee6e73;
}

.page-footer{
  padding-top: 0px;
}

.apply{
  margin-top: 1px;
}

.panel-heading{
  padding: 2px 15px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 12px;
    font-size: 16px;
    color: inherit;
}


#waypoint h1 {
  font-size: 20px;
  font-weight: 800;
}

#waypoint p {
  margin-bottom: 80px;
  height: 30px;
}

#waypoint a {
  border: 4px solid #3cafe2;
  color: #3cafe2;
  background: #fff;
  height: 70px;
  line-height: 70px;
  transition: .3s ease;
  font-weight: 600;
  position: relative;
}
#waypoint a:hover {
  border-color: #3cafe2;
  color: #fff;
  background: #3cafe2;
  text-decoration: none;
}
#waypoint a:focus {
  color: #3cafe2;
  background: #fff;
  text-decoration: none;
}
#waypoint a:active {
  color: #fff;
  background: #3cafe2;
}

.notifications {
  position: fixed;
  right: 0;
  top: 0;
  background: #3cafe2;
}

.tline {
  background: #3cafe2;
  width: 48px;
  height: 2px;
  margin: 15px auto;
}

.icon_box img {
  width: 100px;
}

.icon_box {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
  background: #fff;
  text-align: center;
  padding-top: 20%;
  background: url("https://cdn2.iconfinder.com/data/icons/freecns-cumulus/16/519681-188_FormPolygonBorder-128.png") center center no-repeat;
  background-size: contain;
  height: 195px;
  line-height: 195px;
  vertical-align: middle;
  overflow: hidden;
}

/* IMG ANI */
.slideIn1, .slideIn2, .slideIn3 {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
}

.bounceIn1, .bounceIn2, .bounceIn3 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.img1,
.img2,
.img3 {
  opacity: 0;
  transform: translateY(-100px);
}

.slideIn1 {
  transform: translateY(0px) !important;
  opacity: 1 !important;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
}

.slideIn2 {
  transform: translateY(0px) !important;
  opacity: 1 !important;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
}

.slideIn3 {
  transform: translateY(0px) !important;
  opacity: 1 !important;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}

/* text ANI */
.text1,
.text2,
.text3 {
  opacity: 0;
  text-align: center;
  transform: scale(0.5);
}

.bounceIn1 {
  transform: scale(1) !important;
  opacity: 1 !important;
  transition-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
}

.bounceIn2 {
  transform: scale(1) !important;
  opacity: 1 !important;
  transition-delay: 1.9s;
  -webkit-transition-delay: 1.9s;
}

.bounceIn3 {
  transform: scale(1) !important;
  opacity: 1 !important;
  transition-delay: 2.3s;
  -webkit-transition-delay: 2.3s;
}

.slideInLeft {
  transform: translate(0) !important;
  opacity: 1 !important;
}

.slideInRight {
  transform: translate(0) !important;
  opacity: 1 !important;
}

.shake {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

p {
  line-height: 2rem;
}



.parallax-container {
  min-height: 100vh;
  min-height: 60vh;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}






.ppad {
  padding: 65px;
}

.wp1, .wp2, .wp3, .wp4 {
  transition: 1.4s ease;
}

.wp1 {
  opacity: 0;
  text-align: center;
  transform: translateX(-100px);
}

.wp2 {
  opacity: 0;
  text-align: center;
  transform: translateX(100px);
}

.wp3 {
  opacity: 0;
  text-align: center;
  transform: translateX(-100px);
}

.wp4 {
  opacity: 0;
  text-align: center;
  transform: translateX(100px);
}

.parallax #canvas {
  position: absolute;
  height: 200%;
  width: 100%;
  z-index: 999999;
  opacity: .9;
}


